extends ./_layout


block header
  title
    | Hermaia
  link(rel= "stylesheet", href= "./index.css")

block content

  div.jumbotron
    div.container
      h1
        | Hermaia

      p.lead
        | I will be better !!

  .container
    .row
      .col-md-12
        h2.page-header Documents

    .row
      .col-md-4
        h3.page-header Japanese

    .row
      .col-md-12
        h2.page-header License



block script
  script(type="text/javascript" src="/assets/js/index.js")
